<?php

// Set gmail credentials
$cf_email_username = '';
$cf_email_password = '';

// Set DB credentials
$cf_db_servername = 'localhost';
$cf_db_username = 'id5508088_amaweb';
$cf_db_password = 'amaweb444';
$cf_db_schema = 'id5508088_amaweb';
